*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{
    font-size: 5.5em;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(255, 255, 255);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:lightseagreen;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

header a:hover{
    color: lightseagreen;
}

#nombre{
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(image/fondo\ nombre.jpeg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex-direction: column;
}

#nombre p{
    font-size: 1.5em;
    background-color: blueviolet;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}



#sobre .container{
    text-align: center;
    padding: 40px 12px;

}

#sobre .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
}

#sobre h2{
    margin-top: 0px;
    color:lightseagreen;
}

#tema .container{
    text-align: center;
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    font-weight: bold;
    font-size: 1.5em;
    height: 70vh;
    
}

#tema h2{
    color: blueviolet;
}

#form-acade .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
}

#form-acade h2{
    margin-top: 0px;
    color:lightseagreen;
}

#formulario{
    
    color: white;
    font-family: sans-serif;
    padding: 0 1.5em;

}

#formulario .container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

#formulario .container form button,
#formulario .container form input,
#formulario .container form textarea{
    width: 90%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid lightseagreen;
    outline: 0;
    color: #fff;

}

#formulario .container form button{
    background: lightseagreen;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    font-weight: bold;
}

#formulario .container form button:hover,
#formulario .container form button:focus{
    background: #fff;
    color: black;
    transition: background-color 1s ease-out;
    outline: 0;
}


#formulario .container form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#formulario .container form .block{
    grid-column: 1 / 3 ;
}



@media (min-width: 850px){


    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #sobre .container{
        display: flex;
        justify-content: space-evenly;
    }

    

    #sobre .img-container{
        background-image: url(image/imagen-sobre.png);
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
        filter: drop-shadow(5px 5px 10px rgb(1, 1, 1));
    }

    

    #form-acade .container{
        display: flex;
        justify-content: space-evenly;
        
    }

   

    #form-acade .img-container{
        background-image: url(image/formacion.png);
        background-size: cover;
        background-position: center center;
        height: 450px;
        width: 400px;
        filter: drop-shadow(5px 5px 10px rgb(0, 0, 0));
    }

    footer .container{
        justify-content: flex-end;
    }
}
